td,
th {
  vertical-align: middle;
  text-align: center;
}

img {
  border-radius: 0.5rem;
  height: auto;
  width: 150px;
}

form {
  display: grid;
  place-items: center;
}

input {
  margin: 1px;
}

/* ELEMENTS */
#app-div {
  /* border: solid 3px;
  border-color: crimson; */
  text-align: center;
}

#searching-bar-product-div {
  display: grid;
  place-items: center;
  max-height: 100vh;
}

/* CLASSES */
.searching-bar {
  display: grid;
  place-items: center;
}

.searching-bar-div {
  display: grid;
  justify-items: center;
  max-height: 80vh;
  width: 100%;
}

.products-list {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
